extends layout

block content
  #header
    h1=title
    .row
      .col-md-1
        a(id='show-about' class='nav' href='#about') About
      .col-md-1
        a(id='show-graph' class='nav' href='#graph') Graph

  #content
    #graph
      h2 Graph
      .row
        .col-md-2
          h3 Search
          input(type='search' name='name-search' id='name-search')
          #results
            ul
          a(id='reset' href='#!') reset

        #svg.col-md-8

        .col-md-2
          h3 Selections
          #selection-1.selection
            h4 Selection 1
            svg(height='30' width='30')
              circle(cx='15' cy='15' r='15' fill='#1f77b4')
            .id
              .title Id:
              .value
            .name
              .title Name:
              .value
            .links
              a(id="relations-1" class="relations" href="#!") neighbours

          #selection-2.selection
            h4 Selection 2
            svg(height='30' width='30')
              circle(cx='15' cy='15' r='15' fill='#9467bd')
            .id
              .title Id: 
              .value
            .name
              .title Name:
              .value
            .links
              a(id="relations-2" class="relations" href="#!") neighbours


    #about
      h2 About
      p
        | Hello! Welcome to grapher, my (
        a(target="_blank" href="mailto:hughbrace@gmail.com") Hugh Brace's
        | ) final year project.
  
