body
  padding 30px
  font 14px "Lucida Grande" Helvetica Arial sans-serif
  color #00B7FF

hidden
  display none

#name-search
  width 100%

#results
  height 300px
  overflow-y auto

#results ul
  list-style none
  padding-left 5px

rect
  fill none
  stroke #DEDEDE
  stroke-width 2px

.node
  stroke #fff
  stroke-width 1.5px

.selection
  height 200px

circle.unselected
  fill #aec7e8

circle.selection-1
  fill #1f77b4

circle.selection-2
  fill #9467bd

.title
  font-weight bold
  width 50px

.value
  min-width 10px
